aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-config-file==0.6.0
click-plugins==1.1.1
colorama==0.4.4
configobj==5.0.6
cycler==0.11.0
datasets==2.0.0
dill==0.3.4
emoji==1.6.3
fastapi==0.74.1
filelock==3.6.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.2.0
h11==0.13.0
httptools==0.3.0
huggingface-hub==0.4.0
humanize==4.0.0
idna==3.3
importlib-metadata==4.11.1
jellyfish==0.9.0
joblib==1.1.0
kiwisolver==1.3.2
matplotlib==3.5.1
multidict==6.0.2
multiprocess==0.70.12.2
networkx==2.6.3
nltk==3.7
numpy==1.21.5
oauthlib==3.2.0
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
pyarrow==7.0.0
pydantic==1.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.19.2
python-interface==1.6.1
pytz==2021.3
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
responses==0.18.0
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.7.3
segtok==1.5.11
six==1.16.0
sklearn==0.0
sniffio==1.2.0
starlette==0.17.1
tabulate==0.8.9
textblob==0.17.1
threadpoolctl==3.1.0
tokenizers==0.11.5
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
twarc==2.9.4
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.5
vaderSentiment==3.3.2
watchgod==0.7
websockets==10.2
wincertstore==0.2
xxhash==3.0.0
yake @ git+https://github.com/LIAAD/yake@d2fc406c52d08843c2cb511d31d859980a7291e4
yarl==1.7.2
zipp==3.7.0
